.bg{
    background-color: white;
}

.header-nav .nav > li .sub-menu li a:hover{
    background-color: black;
    color: white;
}



.project-area .single-project .overlay-content {
    background: rgba(255, 255, 255, 0.9);
    height: inherit;
    text-align: justify;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: end;
    -moz-justify-content: end;
    justify-content: end;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transition-timing-function: cubic-bezier(0.39, 0.92, 0.69, 0.65);
    transform: scaleY(0);
    transform-origin: top;
}

.project-area .single-project .overlay-content h4 {
    font-size: 15px;
    font-weight: 700;
   /* margin-bottom: 5px;*/
    color: black;
    text-align: center;
}

.project-area .single-project:hover .overlay-content {
    transform: scaleY(1);
}

.project-area .single-project {
    height: 400px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
